footer {
    background-image: linear-gradient(to right, gray , white);
    div {
        div {
            div{
                ul{
                    list-style: none;
                    li{
                        img{
                            width:30px;height:30px;border-radius:15px;
                            &:hover{
                                transform: scale(2,2);
                                transition: all 2s;animation-timing-function:ease-in-out;

                            }

                        }
                    }
                }
            }

        }
    }
}