header{
    
    nav{
        
        div{
            
            div{
                img{
                    @media only screen and (max-width: 992px){display: none};
                    &:hover {
                        transform: rotatey(360deg);
                        transition: all 3s;
                    }
                }
                form {
                    input{
                        size: "200";

                    }
                    button {

                    }
                }
                ul{
                    
                    li{
                        
                        &:hover{
                            background-color: yellow;
                        }
                        h6 {
                            
                            &:hover{
                                color: black;
                                font-style: italic;
                            }
                        }                        
                    }

                }

            }
        }
    }
}